.content {
    background-image: url("./images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

    .title {
        color: white;
        text-align: center;
        p {
            font-size: 1.25rem;
        }
    }

    #search {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10rem;

        .search-box,
        .info-card {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 20px;
            width: 20%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        .search-box {
            input {
                display: block;
                width: 100%;
                margin: 10px 0;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            button {
                width: 100%;
                padding: 10px;
                background-color: #2b9c89;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .info-card {
            font-size: 3rem;
            margin-bottom: 10px;

            .icon {
                justify-content: center;
            }
        }
    }
}
