#bookingsBody {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #f1f4f3;
    display: flex;
    justify-content: center;
    align-items: center;

    & #bookingsContainer {
        border-radius: 0.5rem;
        padding: 1rem;
        width: 60%;
        max-height: 60%;
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        align-items: center;
        gap: 1rem;

        & #bookingList {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .cardTrip {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 1rem;
                background-color: #f7f0f0;
                border-radius: 0.25rem;
            }
        }

        & #lineBlack {
            margin-top: 2rem;
            min-height: 0.125rem;
            width: 25%;
            background-color: #7d808c;
        }

        & #textEnjoy {
            color: #2b9c89;
        }
    }
}
