body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    max-height: 50px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: #2b9c89;
    }

    & .nav-links {
        display: flex;
        min-width: 150px;
        justify-content: space-between;
        & a {
            text-decoration: none;
            color: black;
        }
    }
}

button {
    background-color: #2b9c89;
    border: none;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
        background-color: #1b5c59;
    }
}
