#cartBody {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #f1f4f3;
    display: flex;
    justify-content: center;
    align-items: center;

    & #cartContainer {
        border-radius: 0.5rem;
        width: 60%;
        max-height: 60%;
        justify-content: flex-start;
        overflow-y: auto;
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & #title {
            position: sticky;
            margin: 0;
            top: 0;
            padding: 2rem 0 1rem;
            background-color: #fefefe;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        & #cartList {
            margin: 1rem;
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 0.5rem;
            gap: 1rem;
            & .cardTrip {
                background-color: #f7f0f0;
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                align-items: center;
                width: 85%;
                padding: 0.25rem 1rem;
                border-radius: 0.25rem;

                & button {
                    padding: 0.25rem 0.5rem;
                }
            }
        }
    }

    & #totalPriceContainer {
        position: sticky;
        bottom: 0;
        background-color: #011647;
        color: white;
        width: 100%;
        border-radius: 0 0 0.25rem 0.25rem;

        & #totalPrice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 3rem;
            & button {
                padding: 0.5rem 0.75rem;
            }
        }
    }
}
