#bookingsBody {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #f1f4f3;
    display: flex;
    justify-content: center;
    align-items: center;

    & #bookingsContainer {
        border-radius: 0.5rem;
        width: 60%;
        max-height: 60%;
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        align-items: center;
        gap: 1rem;
        position: relative;

        & #title {
            position: sticky;
            margin: 0;
            top: 0;
            padding: 2rem 0 1rem;
            background-color: #fefefe;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        & #bookingList {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .cardTrip {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 1rem;
                background-color: #f7f0f0;
                border-radius: 0.25rem;
            }
        }
        & #bottomContainer {
            position: sticky;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fefefe;
            width: 100%;
            gap: 1rem;

            & #lineBlack {
                margin-top: 2rem;
                min-height: 0.125rem;
                width: 20%;
                background-color: #7d808c;
            }

            & #textEnjoy {
                color: #2b9c89;
            }
        }
    }
}
